@model Ingeniux.Runtime.CMSPageRequest
@using Ingeniux.Runtime

@{
    IEnumerable<ICMSElement> learnSub = Model.Elements("Learnhowtofunditsub");
    bool showVideo = Model.GetElementValue("VideoCheck1").Equals("true");
    bool showLearnMore = learnSub.Count() > 0;
    var siteControl = Model.Element("CSiteControl");
    if (showVideo || showLearnMore)
    {
    <div class="row stl-video-learn-row">
        @{
        if (showVideo)
        {
            String layout = siteControl != null ? siteControl.GetElementValue(Model.RootElementName.Replace("Page", "") + "Grid") : "";
            bool showVideoFullWidth = layout.Contains("-6-"); //if the layout is 3-6-3, the center column is too narrow to use side by side, and we'll break the video to its own line.
            if (showLearnMore)
            {
@* ----------------- See How It Works ----------------- *@
            <div class="col-sm-@(showVideoFullWidth ? "12" : "8")">
                @{
                Html.RenderPartial("Other/Video", Model);
                }
            </div>
@* ----------------- Learn How To Fund ---------------- *@
            <div class="col-sm-@(showVideoFullWidth ? "12" : "4")">
                @{
                Html.RenderPartial("Other/LearnHowToFund", Model);
                }
            </div>
            }
            else
            { 
@* ----------------- See How It Works ----------------- *@
            <div class="col-sm-12">
                @{
                Html.RenderPartial("Other/Video", Model);
                }
            </div>
            }
        }
        else
        {
@* ----------------- Learn How To Fund ---------------- *@
            <div class="col-sm-12">
                @{
            Html.RenderPartial("Other/LearnHowToFund", Model);
                }
            </div>
        }
        }
    </div>
  
    }
}